.project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
section > h2{
    font-weight: 300;
    font-size: 2rem;

}
section{
    margin-top: 4rem;
}

.techstach-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}